<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Inventory Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<div class='header'>
  <h1>Vehicle Inventory Tracker</h1>
  <%= link_to 'Warehouses', warehouses_path%>
  <%= link_to 'Vehicles', inventories_path%>
  <p class='problem'>I just have so many cars I lose track...</p>
</div>

  <body>
    <%= yield %>
  </body>
</html>
